<div class="container">
    <foot class="footer">
        <small>
          Copyright &copy; <a href="https://www.udemy.com">The Complete Ruby on Rails Developer</a>
          by <a href="http://google.com.br/">Wellington Carvalho</a>
        </small>
        
    </footer>
</div>