<div class="container">

    <footer class="footer">

        <small>

Copyright © <a href="https://www.udemy.com/">The Complete Ruby on Rails Developer</a>

by <a href="https://www.linkedin.com/in/wellington-carvalho-de-oliveira-02130630/">Wellington Carvalho</a>

</small>

        <nav>

            <ul>

                <li>
                    <%= link_to "About", about_path %>
                </li>

            </ul>

        </nav>

    </footer>

</div>
